allow audioserver audio_data_file:dir remove_name;
allow audioserver diag_device:chr_file { ioctl open read write };
allow audioserver system_file:file execmod;
